<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ExamTeach.Properties.Settings.ExamSystemConnectionString"
        connectionString="Data Source=BB-PC\SQLSERVER01;Initial Catalog=ExamSystem;Persist Security Info=True;User ID=wang3156;pwd=w315695792m;"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="ConStr" value="server=BB-PC\SQLSERVER01;database=ExamSystem;uid=wang3156;pwd=w315695792m;pooling=true;min pool size=1;max pool size=2;connection reset=true" />
    <!--<add key="socket_Ip" value=""/>-->
    <add key="socket_port" value="5216"/>
  </appSettings>
</configuration>