<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!--<add name="ExamTeach.Properties.Settings.ExamSystemConnectionString"
        connectionString="Data Source=USER-20160428FK\SQLSERVER2008R2;Initial Catalog=ExamSystem;Persist Security Info=True;User ID=sa;pwd=1234;"
        providerName="System.Data.SqlClient" />-->
    <add name="ExamTeach.Properties.Settings.ExamSystemConnectionString"
       connectionString="server=BB-PC\SQLSERVER01;database=ExamSystem;uid=wang3156;pwd=w315695792m;pooling=true;min pool size=1;max pool size=2;connection reset=true"
       providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <!--<add key="ConStr" value="server=USER-20160428FK\SQLSERVER2008R2;database=ExamSystem;uid=sa;pwd=1234;pooling=true;min pool size=1;max pool size=2;connection reset=true" />-->
    <add key="ConStr" value="server=BB-PC\SQLSERVER01;database=ExamSystem;uid=wang3156;pwd=w315695792m;pooling=true;min pool size=1;max pool size=2;connection reset=true" />
    <add key="socket_port" value="5216"/>
  </appSettings>
</configuration>