<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

  </configSections>
  <appSettings>
    <add key="ConStr" value="server=106.52.126.96;user id=mytest;password=qX%#P64n*fUWKi6*;database=mytest" />
 
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>

  <runtime>

    
  </runtime>
</configuration>