<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <!--<add key="ConStr" value="server=BB-PC\SQLSERVER01;database=ExamSystem;uid=wang3156;pwd=w315695792m;pooling=true;min pool size=1;max pool size=2;connection reset=true" />--> 
    <add key="ConStr" value="Data Source=CNHUAM0SQLSTG82;Initial Catalog=eSR_STG;Persist Security Info=True;User ID=app_hua;Password=Huaapp123;Min Pool Size = 1;Max Pool Size=20;Pooling=true;Connect Timeout=120" />
  </appSettings>
</configuration>