<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="ConStr" value="server=USER-20160428FK\SQLSERVER2008R2;database=ExamSystem;uid=sa;pwd=1234;pooling=true;min pool size=1;max pool size=2;connection reset=true" />
  </appSettings>
</configuration>